<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <title>News Headlines</title>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">News Headlines</a>
  
  <div class="collapse navbar-collapse" id="navbarNav">
    <div class="navbar-nav ml-auto">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Query" id="searchInput">
        <select class="custom-select" id="categorySelect">
            <option selected value="">All</option>
            <option value="business">Business</option>
            <option value="entertainment">Entertainment</option>
            <option value="general">General</option>
            <option value="health">Health</option>
            <option value="science">Science</option>
            <option value="sports">Sports</option>
            <option value="technology">Technology</option>
          </select>
        <input type="text" class="form-control" placeholder="Country" value="us" id="countrySelect">
        <input type="text" class="form-control" placeholder="Sources" id="sourcesSelect">
        <input type="number" value="100" min="20" max="100" class="form-control" placeholder="Page Size" id="pageSizeSelect">
        <div class="input-group-append">
            <button class="btn btn-primary" type="Button" id="searchButton">Search</button>
        </div>
      </div>
    </div>
  </div>
</nav><br>
<div class="container-fluid" id="alertContainer"></div>
<div class="container-fluid">
<h5><span id="resultCount"></span></h5>
<div class="row content"></div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="/static/main.js"></script>
</body>
</html>
