<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <title>News Headlines</title>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">News Headlines</a>
  
  <div class="collapse navbar-collapse" id="navbarNav">
    <div class="navbar-nav ml-auto">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Query" title="Keywords or a phrase to search for." id="searchInput">
        <input type="text" class="form-control" placeholder="Category" title="The category you want to get headlines for." id="categorySelect">
        <input type="text" class="form-control" placeholder="Country" value="us" title="The 2-letter ISO 3166-1 code of the country you want to get
        headlines for." id="countrySelect">
        <input type="text" class="form-control" placeholder="Sources" title="A comma-seperated string of identifiers for the news sources or
        blogs you want headlines from." id="sourcesSelect">
        <input type="number" value="100" min="20" max="100" class="form-control" placeholder="Page Size" title="The number of results to return per page (request)." id="pageSizeSelect">
        <div class="input-group-append">
            <button class="btn btn-primary" type="Button" id="searchButton">Search</button>
        </div>
      </div>
    </div>
  </div>
</nav><br>
<div class="container-fluid" id="alertContainer"></div>
<div class="container-fluid">
<h5><span id="resultCount"></span></h5>
<div class="row content"></div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="/static/main.js"></script>
</body>
</html>
