<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NewsAPI Headlines</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <div class="card-header">
            <h1>NewsAPI Headlines</h1>
        </div>
        <br>
        <div class="card">
            <div class="card-body">
        <form>
            <div class="form-group">
              <input type="text" class="form-control" id="searchInput" placeholder="Query">
              <small class="form-text text-muted">Keywords or a phrase to search for.</small>
            </div>
            <div class="form-group">
              <input type="text" class="form-control" id="countrySelect" placeholder="Country">
              <small class="form-text text-muted">The 2-letter ISO 3166-1 code of the country you want to get headlines for.</small>
            </div>
            <div class="form-group">
              <input type="text" class="form-control" id="categorySelect" placeholder="Category">
              <small class="form-text text-muted">The category you want to get headlines for.</small>
            </div>
            <div class="form-group">
                <input type="number" value="20" min="20" max="100" class="form-control" id="pageSizeSelect" placeholder="Page Size">
                <small class="form-text text-muted">The number of results to return per page (request).</small>
            </div>
            <button type="button" class="btn btn-primary" id="searchButton">Search</button>
        </form>
            </div>
        </div>
        <br>
        <div class="card" id="newsList"><br></div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="/static/main.js"></script>
</body>
</html>
